@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@700&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@700&family=Sriracha&display=swap');

:root {
    --royal-blue-light: #404eed;
    --royal-blue-dark: #3946d4;
    --white: #fff;
    --backgroud: #e2e3e9;
    --laranja: rgb(255, 115, 0);
    --fonte-padrao: 'Lato', sans-serif;
}

.mapa , 
.img-app {
    width: 300px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
    background: var(--backgroud);
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#contato-mobile {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 1rem;
    height: 4.725rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.logo-mobile img {
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: 1em;
    border-radius: 0.5rem;
}

.menu a:hover {
    background: rgb(32, 32, 32);
    transition: all 0.3s;
    opacity: 0.9;
}

.label-menu ,
.checkbox {
    display: none;
}

.inicio {
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0.85) , rgba(20, 20, 20, 0.9)), url(img/fundo-principal.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.texto-inicio {
    text-align: center;
    position: relative;
    top: 20%;
    transform: translateY(-50%);
}

.inicio h1{
    color: var(--laranja);
    font-size: 4vw;
    padding-bottom: 20px;
}

.inicio h2 {
    font-size: 3vw;
    color: white;
    -webkit-text-stroke: 0.3px var(--laranja);
}

.text-mobile {
    display: none;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 60px;
    font-size: 1.3rem;

}

.botoes a {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 10px;
}

#conteudo {
    font-family: 'Baloo 2', cursive;
    background-image: linear-gradient(to bottom,  #FFFFFF, #010101);
}

/* Referente a area de contatos - funcionamento - mapa */

#parte-superior {
    display: flex;
    flex-direction: row;
    padding: 50px 20px;
    justify-content: space-around;
    height: 700px;
}

/* Contato - lado esquerdo */

#contato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contato img {
    width: 13vh;
    max-width: 100px;
}

/* Parte do meio  */

#planos-e-funcionamento {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Somente os planos */

#planos {
    width: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 10px 0px 30px 0px;
    margin-bottom: 40px;

    border: 3px solid rgb(255, 115, 0);
    border-radius: 10px;
    font-family: 'Baloo 2', cursive;
}

#planos h3 {
    display: block;
    margin: auto;
    border-bottom: 2px solid rgb(255, 115, 0);
    width: 120px;

}

#planos h4 {
    display: block;
    margin: auto;
    border-bottom: 2px solid rgb(255, 115, 0);
    width: 120px;

}

#planos .real {
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

/* Somente a tabela de funcionamento */

#funcionamento h2 {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

#funcionamento h2 , td {
    font-family: 'Baloo 2', cursive;
}

#funcionamento table{
    border-collapse: collapse;
    width: 30vw;
}

#funcionamento table td {
    border-top: 1px solid rgb(146, 146, 146);
    padding: 10px 30px 10px 0px ;
    font-weight: 600;
}

#funcionamento table .hora {
    text-align: end;
}

/* Localizacao - lado direito */

#localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#localizacao h2 {
    text-transform: uppercase;

}

#localizacao p {
    font-weight: 600;
    width: 240px;
    text-align: center;
    font-size: 18px;
}

.mapa {
    width: 30vw;
    max-width: 600px;
    height: 40vh;
    max-height: 700px;
}

/* Parte inferior */

#parte-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding-top: 50px;
    padding-bottom: 70px;
}

#parte-inferior h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);
}

#parte-inferior p {
    font-size: 1.3em;
    font-weight: 500;
}

#parte-inferior img {
    max-width: 600px;
}

#download img{
    width: 45vh;
    padding: 0px 40px;
}
#parte-inferior p {
    width: 90vw;
    text-align: center;
}
#parte-inferior img {
    width: 50vw;
}
#download img{
    width: 30vw;
    max-width: 300px;
}

/* Contato - Mobile */

#icones-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 20px;
}

#icones-mobile a {
    font-size: 20px;
}

/* Frase abaixo do main */

#frase {
    color: rgb(255, 115, 0);
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Baloo 2', cursive;
}

/* Rodapé */

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.maiusculo {
    text-transform: uppercase;
}

footer p {
    font-size: 15px;
}

@media (min-width: 2200px) {
    #localizacao h2 ,
    #funcionamento h2 ,
    #parte-inferior h2 {
        font-size: 50px;
    }

    #localizacao p {
        font-weight: 600;
        width: 500px;
        text-align: center;
        font-size: 30px;
    }
    #funcionamento table {
        font-size: 30px;
    }
    #parte-inferior {
        padding-top: 100px;
    }
    #parte-inferior p {
        font-size: 40px;
        width: 1500px;
    }
    #contato-mobile {
        display: none;
    }
    #download img {
        width: 20vw;
        max-width: 450px;
    }
    #planos {
        width: 300px;
        font-size: 30px;
        margin-top: 40px;
    }
    #planos h3 ,
    #planos h4 {
        width: 250px;
    }

}

@media (max-width: 1000px) {
    #funcionamento table{
        border-collapse: collapse;
        width: 40vw;
    }

    #localizacao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .mapa {
        padding-top: 70px;
        height: 60vh;
    }

    #contato {
        display: none;
    }
    #contato-mobile {
        display: block;
    }
    #icones-mobile {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

}

@media (max-width: 800px) {

    #conteudo {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .inicio h1 {
        font-size: clamp(5vw, 5vw, 37px);
    }
    #parte-superior {
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        justify-content: center;
        height: 700px;
        padding-top: 650px;
    }   
    #funcionamento {
       padding-top: 50px; 
    }
    #funcionamento h2{
        font-size: 5vw;
    }
    #funcionamento table{
        border-collapse: collapse;
        width: 80vw;
    }
    #funcionamento {
        padding-bottom: 70px;
    }
    #localizacao h2 {
        font-size: 5vw;
    }
    #localizacao p {
        font-size: clamp(20px, 23px, 25px);
        width: 100vw;
    }
    .mapa {
        width: 70vw;
    }
    #parte-inferior {
        padding-top: 650px;
    }
    #parte-inferior h2 {
        font-size: 5vw;
    }
    #parte-inferior p {
        font-size: clamp(20px, 23px, 25px);
        width: 95vw;
    }
    #parte-inferior img {
        width: 70vw;
    }
    #download img {
        width: 45vw;
    }
    #frase p{
        font-size: 3vw;
    }
}

/* Media para celular - porem deixei somente para configurar o menu*/

@media (max-width: 600px) {

    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        right: 0;
        background: black;
        text-align: center;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }
    .menu a {
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
        border-radius: 0;
    }
    .label-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburguer::before ,
    .hamburguer::after {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked ~ .menu {
        height: 170px;
        visibility: visible;
        overflow-y: auto;
    }

    .checkbox:checked ~ .label-menu .hamburguer {
        border-top-color: transparent;
    }

    .checkbox:checked ~ .label-menu .hamburguer::before {
        transform: rotate(135deg);
    }

    .checkbox:checked ~ .label-menu .hamburguer::after {
        transform: rotate(-135deg);
        top: -0.4375rem;
    }
}

/* Media para celulares - Apenas 1px de diferença da de cima*/

@media(max-width: 599px) {
    .logo {
        display: none;
    }
    .logo-mobile img{
        display: inline;
        height: 80px;
    }
    .inicio {
        background-image: linear-gradient(to right, rgba(17, 17, 17, 0.85) , rgba(20, 20, 20, 0.9)), url(img/homem.jpg);
        background-position: left center;    
    }
    .texto-inicio h1 {
        font-size: 6vw;
    }
    .texto-inicio h2 {
        font-size: 5vw;
    }
    .texto-inicio {
        text-align: center;
        position: relative;
        top: 35%;
        transform: translateY(-50%);
    }

    .text-pc{
        display: none;
    }
    .text-mobile {
        display: inline;
    }
    .botoes {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 70vw;
        max-width: 200px;
        font-size: 15px;
    }
    #parte-inferior img {
        width: 70vw;
    }
    #download {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    #download img {
        min-width: 250px;
        width: 45vw;
    }
    #frase p {
        font-size: 4vw;
    }
}

@media (max-width: 450px) {
    #funcionamento table {
        border-collapse: collapse;
        width: 92vw;
    }
    #localizacao h2 , 
    #funcionamento h2 ,
    #parte-inferior h2 {
        font-size: 30px;
    }
    .mapa {
        width: 80vw;
    }
    #parte-superior {
        padding-top: 700px;
        padding-bottom: 150px;
    }
    #parte-inferior img {
        min-width: 300px;
    }
    #frase {
        font-size: 4.4vw;
    }
    #download img {
        min-width: 250px;
        width: 45vw;
    }
}


